body {
  font-family: 'Comfortaa', cursive;
}

.logo {
  width: 100%;
  height: auto;
}

h1 {
  // color: #ed2e2c !important;
}

.console {
  margin-top: 2rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;

  .line {
    line-height: 1em;
  }
}
.cursor-blink {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}